<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6375b3">  <td>21/05/28 15:03:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAgenciesTest.createAgencyWithGisOffAllViolation()[pri:1, instance:testCases.CreateAgenciesTest@6fb554cc]">createAgencyWithGisOffAllViolation</td> 
  <td>main@1076835071</td>   <td></td> </tr>
<tr bgcolor="6375b3">  <td>21/05/28 15:03:33</td>   <td>-10931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAgenciesTest.setup()[pri:0, instance:testCases.CreateAgenciesTest@6fb554cc]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1076835071</td>   <td></td> </tr>
<tr bgcolor="6375b3">  <td>21/05/28 15:04:13</td>   <td>28933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAgenciesTest.tearDown()[pri:0, instance:testCases.CreateAgenciesTest@6fb554cc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1076835071</td>   <td></td> </tr>
</table>
