<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginToApplicationWithPasswordFieldMissing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginToApplicationWithsqlinEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginToApplicationWithInvalidCred</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginToApplicationWithInvalidEmailID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginToApplicationWithEmailFieldMissing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginToApplicationWithValidCred</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
