<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Suite]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2b0a6">  <td>21/02/25 22:36:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:testCases.LoginTest@6537cf78]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="a2b0a6">  <td>21/02/25 22:36:48</td>   <td>7562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginToApplicationWithsqlinEmail()[pri:0, instance:testCases.LoginTest@6537cf78]">LoginToApplicationWithsqlinEmail</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="a2b0a6">  <td>21/02/25 22:36:48</td>   <td>7865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:testCases.LoginTest@6537cf78]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
</table>
