<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.CSLP_Tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_customerName_when_Anonymous_checkBox_selected</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_066_Verify_placeholdertext_for_searchButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_154_Verify_existance_of_closed_column</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHeaderOf_CSLP_Page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_display_of_issue_count</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_151_Verify_existance_of_clearAllFilter_when_filter_applied</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Sorting_for_asignee_column_on_SecondClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_013_Verify_User_permissions_for_Customer_Submission_overWriteUSer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Check_Sorting_for_issue_description_on_first_Click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Check_Sorting_for_issue_description_on_Second_Click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_022_CRM_150_Verify_ClearAllFilter_when_no_filter_applied_Verify_cust_submission_numbering</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_071_Verify_Sorting_for_Created_column_on_FirstClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Check_Sorting_for_issue_Number_on_Second_Click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_129_Verify_Sorting_for_Categories_column_on_FirstClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_073_Verify_Sorting_for_Created_column_on_SecondClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Check_Sorting_for_issue_Number_on_first_Click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_062_Verify_search_complete_Match_with_Issue_description</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Check_Sorting_for_Customer_email_on_Second_click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_page_is_retained_on_page_refresh_Asignee_sort</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_152_Verify_existance_of_clearAllFilter_when_filter_applied</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_newest_submission_appears_at_theTop_of_the_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Sorting_for_asignee_column_on_FirstClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_067_Verify_search_field_appearsFor_ReadOnlyUSer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_more_link_customerEmail_customerNameWhenUnknown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_064_Verify_search_functionality_when_no_result_is_fetched</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_075_Verify_DateFormat_is_ddmmyyyy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Check_Sorting_for_Customer_email_on_first_click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_013_Verify_User_permissions_for_Customer_Submission_ReadOnlyUSer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_013_Verify_User_permissions_for_Customer_Submission_withBasicUSer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_130_Verify_Sorting_for_Categories_column_on_SecondClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_065_Verify_functionality_for_cross_icon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_080_Verify_CreatedAt_filter_forAnytime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_customerName_when_Name_Is_Entered</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_161_CRM_162_Verify_functionality_for_category_filter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_163_Verify_functionality_when_category_with_noissues_isSelcted</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_page_is_retained_on_page_refresh_Issue_Description_Sort</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_062_Verify_search_complete_Match_with_Issue_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_153_Verify_clearAllFilter_when_filter_withNoRecords_appear</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.CSDP_Tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CRM_141_Verify_MoreLink_isClickable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_136_Verify_EmailTile_WhenEmailID_Notsubmitted_by_citizen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_048_Verify_functionality_for_adding_photogreaterThan15MB_onCSDP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_140_Verify_Date_appearing_on_emailTile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_threid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_187_Verify_functionality_of_Expand_email_icon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_048_Verify_functionality_for_adding_photoWithInvalidFormat_onCSDP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_139_Verify_AsigneeName_appearing_inEmailContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_142_Verify_functionality_of_less_link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_134_Verify_If_user_is_able_to_uncheck_collaberator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_037_Verify_ReadOnlyUser_AreNotdisplayed_in_asignee_dropdown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_190_Verify_Subject_body_is_mandatory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_018_CRM_046_Verify_functionality_ofPhoto_Icon_and_otherSections</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_058_Reopen_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_194_Verify_Reply_Email_functionality_with_new_subject_line</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_193_Verify_functionality_of_cancel_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_019_CRM_020_CRM_045_Verify_PhotoTile_whenPhotos_submitted_by_citizen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_036_Verify_BasicUSer_abletoChange_Asignee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_047_Verify_functionality_of_deletePhotos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_131_Verify_BasicUSer_abletoChange_Category_without_update_asignee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_035_Verify_readonlyUSer_DoesNotSee_CategorydropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_135_Verify_EmailTile_WhenEmailID_submitted_by_citizen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_189_Verify_Edit_subject_functionality_on_Email_popup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_035_Verify_readonlyUSer_DoesNotSee_AsigneedropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_017_CRM_021_Close_Submission</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_131_Verify_BasicUSer_abletoChange_Category_with_update_asignee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_048_Verify_functionality_for_adding_photo_onCSDP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_133_Verify_If_user_is_able_to_select_collaberator</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.ChromelessAppTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_ErrorMessage_When_IssueDescription_IsBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Location_when_pin_not_dropped</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Location_when_Dropping_a_pin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyIf_Photo_thumbnail_are_appearing_when_multiple_photos_are_uploaded</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_location_mandatory_feature</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_issue_description_with_numbers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Citizen_contactInfo_When_NoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_057Verify_Current_location_feature</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCategorySelectedWhenNoKeyword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckOtherCategoryWhenMoreThan6CategoriesArePresent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_055Verify_Find_me_icon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verif_character_length_for_Firstname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_If_File_moreThan_15MB_is_uploaded</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_behavior_when_category_has_no_Location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCategoryOrderBasedOnKeywordForFullMatch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCategoryOrderBasedOnKeywordForPartialMatch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_functionality_for_postAnonymous_checkbox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_MapSection_appears_after_category</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateIssueWithPhoto</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Citizen_invalid_email_format</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_If_Incorrect_file_is_uploaded</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyIf_Photo_thumbnail_are_appearing_when_No_photos_uploaded</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_158_CRM_159_Verify_Citizen_contactInfo_When_infoSent_and_categories_Display</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Post_Anonymous_IsChecked</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.CRMCategoriesTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckNumberOFKeywords</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DuplicateKeyword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCreateCategoryButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InactiveCategoryWithValidName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ActiveCategory_Location_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyLocationCheckboxFor_IncludeLocation_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Edit_Category_Location_Yes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ActiveCategoryNameWithSpecialCharacters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckMAxLengthOfKeyword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyReadOnlyuserDoesNotAppearAsAssignee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Create_category_with_location_required</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCharacterLimitOnCategoryName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCreateCategoryModalHeader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyAssigneeIsMandatory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyKeywordCrossIcon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Create_category_with_location_set_to_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyReorderIconForInactiveCategories</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyOtherCategory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ActiveCategoryWithValidName</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
