<h2>Methods that were not run</h2><table>
<tr><td>testCases.CRMCategoriesTest.VerifyReorderIconForInactiveCategories</td></tr>
<tr><td>testCases.CRMCategoriesTest.VerifyOtherCategory</td></tr>
<tr><td>testCases.CRMCategoriesTest.ActiveCategoryWithValidName</td></tr>
<tr><td>testCases.CSLP_Tests.VerifyHeaderOf_CSLP_Page</td></tr>
<tr><td>testCases.CRM_Email_settingTests.VerifySubmission_Received_Active</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_190_Verify_Subject_body_is_mandatory</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_behavior_when_category_has_no_Location</td></tr>
<tr><td>testCases.CSLP_Tests.Check_Sorting_for_issue_Number_on_Second_Click</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_018_CRM_046_Verify_functionality_ofPhoto_Icon_and_otherSections</td></tr>
<tr><td>testCases.CSLP_Tests.Check_Sorting_for_issue_Number_on_first_Click</td></tr>
<tr><td>testCases.CRMCategoriesTest.VerifyReadOnlyuserDoesNotAppearAsAssignee</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_136_Verify_EmailTile_WhenEmailID_Notsubmitted_by_citizen</td></tr>
<tr><td>testCases.CRMCategoriesTest.Create_category_with_location_required</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_Citizen_contactInfo_When_NoDetails</td></tr>
<tr><td>testCases.ChromelessAppTests.VerifyIf_Photo_thumbnail_are_appearing_when_No_photos_uploaded</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_141_Verify_MoreLink_isClickable</td></tr>
<tr><td>testCases.CRMCategoriesTest.VerifyCreateCategoryButton</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_048_Verify_functionality_for_adding_photogreaterThan15MB_onCSDP</td></tr>
<tr><td>testCases.CRMCategoriesTest.CheckNumberOFKeywords</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_Citizen_invalid_email_format</td></tr>
<tr><td>testCases.CRMCategoriesTest.VerifyAssigneeIsMandatory</td></tr>
<tr><td>testCases.CRMCategoriesTest.ActiveCategory_Location_No</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_131_Verify_BasicUSer_abletoChange_Category_with_update_asignee</td></tr>
<tr><td>testCases.ChromelessAppTests.CRM_055Verify_Find_me_icon</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_035_Verify_readonlyUSer_DoesNotSee_AsigneedropDown</td></tr>
<tr><td>testCases.CRMCategoriesTest.VerifyCharacterLimitOnCategoryName</td></tr>
<tr><td>testCases.ChromelessAppTests.CheckOtherCategoryWhenMoreThan6CategoriesArePresent</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_058_Reopen_button</td></tr>
<tr><td>testCases.CSLP_Tests.Check_Sorting_for_Customer_email_on_first_click</td></tr>
<tr><td>testCases.CRMCategoriesTest.InactiveCategoryWithValidName</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_Location_when_Dropping_a_pin</td></tr>
<tr><td>testCases.ChromelessAppTests.CRM_057Verify_Current_location_feature</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_131_Verify_BasicUSer_abletoChange_Category_without_update_asignee</td></tr>
<tr><td>testCases.CRMCategoriesTest.DuplicateKeyword</td></tr>
<tr><td>testCases.ChromelessAppTests.CreateIssueWithPhoto</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_047_Verify_functionality_of_deletePhotos</td></tr>
<tr><td>testCases.CRMCategoriesTest.Create_category_with_location_set_to_No</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_If_Incorrect_file_is_uploaded</td></tr>
<tr><td>testCases.CRM_Email_settingTests.VerifySubmission_Closed_Active</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_139_Verify_AsigneeName_appearing_inEmailContent</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_142_Verify_functionality_of_less_link</td></tr>
<tr><td>testCases.CRMCategoriesTest.VerifyCreateCategoryModalHeader</td></tr>
<tr><td>testCases.CSLP_Tests.Check_Sorting_for_issue_description_on_first_Click</td></tr>
<tr><td>testCases.ChromelessAppTests.Verif_character_length_for_Firstname</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_037_Verify_ReadOnlyUser_AreNotdisplayed_in_asignee_dropdown</td></tr>
<tr><td>testCases.CRMCategoriesTest.CheckMAxLengthOfKeyword</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_location_mandatory_feature</td></tr>
<tr><td>testCases.ChromelessAppTests.VerifyCategoryOrderBasedOnKeywordForPartialMatch</td></tr>
<tr><td>testCases.CRMCategoriesTest.Edit_Category_Location_Yes</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_140_Verify_Date_appearing_on_emailTile</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_functionality_for_postAnonymous_checkbox</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_MapSection_appears_after_category</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_035_Verify_readonlyUSer_DoesNotSee_CategorydropDown</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_Post_Anonymous_IsChecked</td></tr>
<tr><td>testCases.CRMCategoriesTest.VerifyKeywordCrossIcon</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_048_Verify_functionality_for_adding_photo_onCSDP</td></tr>
<tr><td>testCases.ChromelessAppTests.VerifyCategoryOrderBasedOnKeywordForFullMatch</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_If_File_moreThan_15MB_is_uploaded</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_017_CRM_021_Close_Submission</td></tr>
<tr><td>testCases.CRMCategoriesTest.ActiveCategoryNameWithSpecialCharacters</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_issue_description_with_numbers</td></tr>
<tr><td>testCases.ChromelessAppTests.VerifyCategorySelectedWhenNoKeyword</td></tr>
<tr><td>testCases.CSLP_Tests.Check_Sorting_for_issue_description_on_Second_Click</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_ErrorMessage_When_IssueDescription_IsBlank</td></tr>
<tr><td>testCases.ChromelessAppTests.Verify_Location_when_pin_not_dropped</td></tr>
<tr><td>testCases.CRM_Email_settingTests.VerifyNoticeIssued_Active</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_036_Verify_BasicUSer_abletoChange_Asignee</td></tr>
</table>