<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.CSDP_Tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CRM_141_Verify_MoreLink_isClickable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_136_Verify_EmailTile_WhenEmailID_Notsubmitted_by_citizen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_048_Verify_functionality_for_adding_photogreaterThan15MB_onCSDP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_140_Verify_Date_appearing_on_emailTile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_187_Verify_functionality_of_Expand_email_icon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_048_Verify_functionality_for_adding_photoWithInvalidFormat_onCSDP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_139_Verify_AsigneeName_appearing_inEmailContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_142_Verify_functionality_of_less_link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_134_Verify_If_user_is_able_to_uncheck_collaberator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_037_Verify_ReadOnlyUser_AreNotdisplayed_in_asignee_dropdown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_190_Verify_Subject_body_is_mandatory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_018_CRM_046_Verify_functionality_ofPhoto_Icon_and_otherSections</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_058_Reopen_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_194_Verify_Reply_Email_functionality_with_new_subject_line</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_193_Verify_functionality_of_cancel_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_019_CRM_020_CRM_045_Verify_PhotoTile_whenPhotos_submitted_by_citizen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_036_Verify_BasicUSer_abletoChange_Asignee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_047_Verify_functionality_of_deletePhotos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_131_Verify_BasicUSer_abletoChange_Category_without_update_asignee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_035_Verify_readonlyUSer_DoesNotSee_CategorydropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_135_Verify_EmailTile_WhenEmailID_submitted_by_citizen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_189_Verify_Edit_subject_functionality_on_Email_popup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_035_Verify_readonlyUSer_DoesNotSee_AsigneedropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_017_CRM_021_Close_Submission</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_131_Verify_BasicUSer_abletoChange_Category_with_update_asignee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_048_Verify_functionality_for_adding_photo_onCSDP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CRM_133_Verify_If_user_is_able_to_select_collaberator</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
