<h2>Methods that were not run</h2><table>
<tr><td>testCases.CSDP_Tests.CRM_134_Verify_If_user_is_able_to_uncheck_collaberator</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_048_Verify_functionality_for_adding_photoWithInvalidFormat_onCSDP</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_139_Verify_AsigneeName_appearing_inEmailContent</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_142_Verify_functionality_of_less_link</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_190_Verify_Subject_body_is_mandatory</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_018_CRM_046_Verify_functionality_ofPhoto_Icon_and_otherSections</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_037_Verify_ReadOnlyUser_AreNotdisplayed_in_asignee_dropdown</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_136_Verify_EmailTile_WhenEmailID_Notsubmitted_by_citizen</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_141_Verify_MoreLink_isClickable</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_187_Verify_functionality_of_Expand_email_icon</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_048_Verify_functionality_for_adding_photogreaterThan15MB_onCSDP</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_189_Verify_Edit_subject_functionality_on_Email_popup</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_035_Verify_readonlyUSer_DoesNotSee_CategorydropDown</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_048_Verify_functionality_for_adding_photo_onCSDP</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_131_Verify_BasicUSer_abletoChange_Category_with_update_asignee</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_035_Verify_readonlyUSer_DoesNotSee_AsigneedropDown</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_133_Verify_If_user_is_able_to_select_collaberator</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_017_CRM_021_Close_Submission</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_193_Verify_functionality_of_cancel_button</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_058_Reopen_button</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_194_Verify_Reply_Email_functionality_with_new_subject_line</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_135_Verify_EmailTile_WhenEmailID_submitted_by_citizen</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_131_Verify_BasicUSer_abletoChange_Category_without_update_asignee</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_019_CRM_020_CRM_045_Verify_PhotoTile_whenPhotos_submitted_by_citizen</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_036_Verify_BasicUSer_abletoChange_Asignee</td></tr>
<tr><td>testCases.CSDP_Tests.CRM_047_Verify_functionality_of_deletePhotos</td></tr>
</table>